.header {
  position: absolute;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  color: #000;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  &_fixed {
    position: fixed;
    z-index: 1000;
  }
  .container-fluid {
    display: flex;
    align-items: center;
  }
  a {
    font-size: 18px;
  }

  .menu {
    width: 100%;
    flex-grow: 1;
    &-list {
      display: flex;
      justify-content: center;
      li {
        padding: 0 25px;
      }
    }
  }

  .contacts-block {
    position: relative;
    padding-left: 30px;
    line-height: 1;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;

      display: block;
      width: 13px;
      height: 23px;

      background: url("../assets/img/tel@2x.png") no-repeat center;
      -webkit-background-size: 100%;
      background-size: 100%;

      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    a {
      display: inline-block;
      font-size: 14px;
      line-height: 1;
    }
  }
}
